/*Typography styles*/

//Header

@mixin headerTitleSettings($size, $weight) {
  font-size: $size;
  font-weight: $weight;
  font-family: 'Dancing Script', cursive;
}


@mixin mainTitleFont($size, $style) {
  font-family: 'Cormorant', serif;
  font-size: $size;
  font-style: $style;
}

@mixin musicMenuFont() {
  font-family: 'Neuton', serif;
  font-weight: 200;
}

@mixin headerFont() {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
}

@mixin paragraphsFont() {
  font-family: 'Spectral', serif;
  font-weight: 300;
}

