
$darkBlack : #040404;
$black: #464646;
$white: #fff;

@mixin headerTitleSettings($size) {
  font-size: $size;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

@mixin mainTitleFont($size, $style) {
  font-family: 'Cormorant', serif;
  font-size: $size;
  font-style: $style;
  font-weight: bold;
  color: $darkBlack;
}

@mixin musicMenuFont() {
  font-family: 'Neuton', serif;
  font-weight: bold;
  font-size: 12rem;
  
}

@mixin trackInfoFont() {
  font-family: 'Newsreader', serif;
  font-weight: 500;
  font-size: 16rem;
  color: $white
}

@mixin paragraphFont {
  font-family: 'Cinzel', serif;
  font-size: 14px;
  color: $black;
  font-weight: bold;
}

