@media (min-width: 1366px) {
  header {
    height: 83vh;
    position: relative;
    z-index: 2;

    .top-header {
      background-color:$black;
      height:  9vh;

      .menu-logo-container {
        margin-bottom: .5em;
        padding: 9rem 9rem;

        .earbuds-img {
          width: 46rem;
          margin: 0;
          }

          .logo-title {
           display: none;
          }
        } 

        .menu-btn{
          display: none;
        }

        .desktop-nav-container {
          width: 100%;

          .desktop-nav {
            display: block;
            display: flex;
            justify-content: space-around;
            height: 5vh;
            align-items: center;
            color: $white;
            height: 8vh;
            font-size: 24rem;
            font-weight: 300;

            li:hover {
              transform: scale(1.2);
              @include hoverAnimation;
            }
          }
        }
      }
    } 

    @keyframes titleAnimation {
      0% {
        transform: translateX(-150%);
      }
      100% {
        transform: translateX(0);
      }
    }
    .title {
      bottom: 15%;
      font-size: 66rem;

     @include loadUpAnimation(titleAnimation, 0s);
    }

    @keyframes musicMenuAnimation {
      0% {
        transform: translateY(-250%);
      }
      100% {
        transform: translateY(0);
      }
    }

    .music-menu {
      @include loadUpAnimation(musicMenuAnimation, 0.5s);

      .music-logos {
        @include hoverAnimation;
      }

      .music-logos:hover {
        transform: scale(1.2);
        @include hoverAnimation;
      } 
    }

    .music-display {
      display: flex;
      flex-wrap: wrap;

      .trackContainer {
        width: 31%;
        margin-right: 2%;
        height: 27vh;

        .album-cover {
          height: 25vh;
        } 

        .spinning-cover {
          height: 24vh;
          width: 87%;
        margin-left: 6%;
        }
      }
      .openMediaHeight {
        margin-bottom: 27%;
       }
        .track-information {
          height: 22vh;
          transform: translateY(-25vh);

          .track-info {
            font-size: 14rem;
            height: 10vh;
          }

          .track-controls {
            left: 0;
            bottom: 23%;

            .play-btn {
              top: 19px;
              width: 35px;
              height: 35px;
              right: 81px;

              .fa-play {
                font-size: 104%;
                top: 29%;
                left: 34%;
              }

              .fa-pause {
                font-size: 104%;
                top: 31%;
              }
            }

            .volume-control {
              position: relative;
              top: 23px;
              right: -7%;
              width: 41%;
            }
        
            .fa-volume-up {
              top: 10px;
              left: -25px;
              font-size: 15rem;
           }

            .track-seek-container {
              right: -6%;
            }

            input[type="range"] {
              width: 104%;
            }

            input[type="range"]::-webkit-slider-runnable-track {
              height: 3px;
            }

            input[type="range"]::-webkit-slider-thumb {
              height: 15px;
              width: 15px;
              margin-top: -6px;
            }
          }
      }
      .animation-start {
        transform:translateY(0);
      }
    }
  }
